html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  color: #333;
}
header {
  background-color: #ddd;
  box-shadow: 0 3px 3px 0 #ddd;
}
.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo {
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}
.site-nav__ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-nav__link {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
.site-nav__link:hover {
  text-shadow: 0 0 1px #333;
}
.site-nav__link:active {
  background-color: #333;
  color: #fff;
  box-shadow: 0 3px 3px 0 #333;
}